body{
    box-sizing: border-box;
    background: coral;
    margin: 0;
}


#calc{
    
    display: grid;
    grid-row: 6;
    max-width: 60%;
    margin: auto;
    margin-top: 4rem;
    border: 1px solid black;
}

.col-3 {
    display: grid;
    background: rgb(178, 238, 240);
    grid-template-columns: 2fr repeat(2, 1fr) ;
}

.col-3 p {
    border: 1px solid black;
    margin: 0;
    padding: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.col-3 p:hover {
    background: darkcyan;
    cursor: pointer;
}

.col-4{
    display: grid;
    background: rgb(178, 238, 240);
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    
}

.col-4 p {
    border: 1px solid black;
    margin: 0;
    padding: 16px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


.col-4 p:hover {
    background: darkcyan;
    cursor: pointer;
}

.result {
    grid-row: 1/2;
}


.result p{
    padding: 16px;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.input {
    align-self: flex-end;
}


.r1{
    grid-row: 2/3;
}

.r2{
    grid-row: 3/4;
}

.r3{
    grid-row: 4/5;}

.r4{
    grid-row: 5/6;
}

.r5{
    grid-row: 6/7;
}